/*.spacerTop {*/
/*	margin-top: 2rem;*/
/*}*/

/*.sap-tablet .sapMDialog, .sap-desktop .sapMDialog {*/
/*    min-width: 18rem;*/
/*}*/

/*.sapMMessageDialog {*/
/*    width: 18rem;*/
/*}*/

/*.sapMSFB {*/
/*	color: #dc1928;*/
/* 	  height: 0.8125rem;
  width: 0.8125rem; */
/*}*/
/*.sapMShellBrandingBar{*/
/*	height: 0px;*/
/*}*/
.sapMLabelRequired:before{
	color: #cc1919;
	padding-right: .2rem;
}
.gContent{
	height :70%;
	width:100%;
}
.gBenefits{
	height :30%;
	width:100%;
}
.GenogramContent {
    width: 50%;
    position: relative;
    margin-left: auto;
}